#preloader img {
    margin: 0 auto;
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    top: 50%;
    left: 50%;
    margin: -150px 0 0 -50px;
    position: absolute;
}
.video-wrpr{
    background: #ccc;
    min-height: 600px;
    height: 100vh;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}
    .video-wrpr .section-container-video {
        position: absolute !important;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        overflow: hidden;
        z-index: 0;
    }
        .video-wrpr .section-container-video video {
            min-height: 100%;
            min-width: 100%;
            position: absolute;
        }
        
    .video-wrpr .container-fluid {
        position: relative;
        /*top: 50%;
        left: 50%;
        transform: translate3d(-50%,-50%,0);*/
        z-index: 1;
        min-height: 600px;
        height: 100vh;
    }
        .video-wrpr .container-fluid  .header-menu-top {
            position: absolute;
            width: 100%;
        }
            .video-wrpr .container-fluid  .header-menu-top a {
                    background-color: rgba(224, 76, 2, 0.6);
            }
                .video-wrpr .container  .header-menu-top a:hover,
                .video-wrpr .container  .header-menu-top a:active,
                .video-wrpr .container  .header-menu-top a:focus, {
                        border-color: #e04c02;
                }
            .video-wrpr .container-fluid  .header-menu-top .panel.panel--tripadvisor{
                width: 100%;
                padding: 15px;
                float: left;
                background-color: rgba(255,255,255,0.5);
            }
                .video-wrpr .container-fluid  .header-menu-top .panel.panel--tripadvisor img {
                    width: 100%;
                    margin: 10px 0;
                }
                .video-wrpr .container-fluid  .header-menu-top .panel.panel--tripadvisor blockquote {
                    margin: 10px 0;
                    font-size: 12px;
                } 
            .video-wrpr .container-fluid  .header-menu-top .panel.panel--gallery {
                background: transparent;
            } 
                    .video-wrpr .container-fluid  .header-menu-top .panel.panel--gallery .gallery-list {
                        list-style-type: none;
                        display: block;
                        overflow: hidden;
                        padding: 0;
                        margin: 0;
                    }
                        .video-wrpr .container-fluid  .header-menu-top .panel.panel--gallery .gallery-list li {
                            
                            width: 20%;
                            display: block;
                            float: left;
                            padding: 0 30px;
                        }
            .video-wrpr .container-fluid  .header-menu-top .logo {
                display: block;
                border-radius: 50%;
                overflow: hidden;
            }
                .video-wrpr .container-fluid  .header-menu-top .logo img {
                    width: 100%;
                }          
        .video-wrpr .container-fluid .header-panel {
            top: 50%;
            position: absolute;
            width: 100%;
            transform: translate3d(0,-50%,0);
        }
             .video-wrpr .container-fluid .header-panel .btn-primary {
                
                border-color: #fff;
            }
            .video-wrpr .container-fluid .header-panel .header-booking-form {
                background-color: rgba(0, 0, 0, 0.3);
            }
        .video-wrpr .container-fluid .header-menu-bottom {
            position: absolute;
            bottom: 0;
            width: 100%;
            background: rgba(255,255,255,0.5);
            padding: 20px 0;
        }
            .video-wrpr .container-fluid .header-menu-bottom > div{
                display: table;
            }
            .video-wrpr .container-fluid  .header-menu-bottom ul{
                display: table-row;
            }
            .video-wrpr .container-fluid  .header-menu-bottom li {
                text-align: center;
                display: table-cell;
            }
                .video-wrpr .container-fluid  .header-menu-bottom a{
                    -webkit-transition: background-color 0.5s ease-out;
                    -moz-transition: background-color 0.5s ease-out;
                    -o-transition: background-color 0.5s ease-out;
                    transition: background-color 0.5s ease-out;
                    display: block;
                }
                .video-wrpr .container-fluid  .header-menu-bottom a img {
                    width: 60px;
                    margin: 0 auto 10px;
                }
                .video-wrpr .container-fluid  .header-menu-bottom a .hover-text{

                    display: block;
                    color: #f5f5f5;
                    text-transform: uppercase;
                    font-size: 18px;
                }

            .video-wrpr .container-fluid .header-menu-bottom.sticky{
                position: fixed;
                left: 0;
                top: 20px;
                padding: 0 0px 0 30px;
            }
            .video-wrpr .container-fluid .header-menu-bottom.sticky a:hover {
                background: rgba(255,255,255,0.7);
            }
            .video-wrpr .container-fluid .header-menu-bottom.sticky .hover-text{
                color: #1980B6!important;
            }
    .overlay.dark-0 {
        background-color: rgba(0, 0, 0, 0.35);
    }    
.header-menu-top a{
    text-transform: uppercase;
    margin-left: 15px;
    margin-right: 15px;

    border: 2px solid #fff;
    border-radius: 0;
}
.header-menu-bottom a{
    margin-left: 5px;
    margin-right: 5px;
}
.header-title-text{
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}
.header-title-text h1{
    color: #fff;
    font-size: 48px;
    margin-top:15px;
    margin-bottom:25px;
}
.header-title-text ul{
    font-size: 24px;
}
.header-booking-form{
    background-color: rgba(241,202,100,0.5);
}
.header-booking-form .panel-title{
    color: #fff;
    border-bottom: 2px solid #fff;
    font-size: 24px;
}
.header-booking-form label{
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
    margin-left: 10px;
}
.header-booking-form .form-control{
    background: rgba(0,0,0,0.7);
    border: 0;
    color: #fff;
    text-shadow: 1px 1px 1px rgba(0,0,0,0.5);
}


.footer-menu a {
    text-transform: uppercase;
    margin-left: 5px;
    margin-right: 5px;
    width: 170px;

    border: 2px solid #fff;
    border-radius: 0;
}

.wow {
   visibility: hidden;
}
.affix {
    position: fixed !important;
}
/* Overlay style */
.overlay-contentscale {
    position: fixed;
    width: 90%;
    height: 70%;
    top: 50%;
    left: 50%;
    background: rgba(25, 128, 182, 0.9);
    padding: 99px 30px 30px 30px;
}

.overlay-contentscale img {
    width: 100%;
}

/* Overlay closing cross */
.overlay-contentscale .overlay-close {
    width: 80px;
    height: 80px;
    position: absolute;
    right: 20px;
    top: 20px;
    overflow: hidden;
    border: none;
    background: url(images/cross.png) no-repeat center center;
    text-indent: 200%;
    color: transparent;
    outline: none;
    z-index: 100;
}


/* Effects */

.wrapper {
    background: #fff;
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
}

/*.wrapper.overlay-open {
    -webkit-transform: scale(0.8);
    transform: scale(0.8);
}*/

.overlay-contentscale {
    visibility: hidden;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: -webkit-transform 0.5s, visibility 0s 0.5s;
    transition: transform 0.5s, visibility 0s 0.5s;
    overflow-x: hidden;
    overflow-y: scroll;
    color: #f5f5f5;
}
    .overlay-contentscale h3 {
        color: #f5f5f5;
    }

.overlay-contentscale.open {
    visibility: visible;
    -webkit-transform: translate3d(-50%,-50%,0);
    transform: translate3d(-50%,-50%,0);
    -webkit-transition: -webkit-transform 0.5s;
    transition: transform 0.5s;
    z-index: 5;
}
.activity-gallery {

}
    .activity-gallery > div {
        
    }
        .activity-gallery > div > a {
            position: relative;
            display: block;

        }
            .activity-gallery > div > a > img {
                padding: 30px;
            } 
            .activity-gallery > div > a > .desc {
                position: absolute;
                bottom: 40px;
                z-index: 10;
                display: block;
                left: 50%;
                transform: translate3d(-50%,0,0);
                background-color: rgba(245,245,245,0.9);
                color: #000;
                padding: 15px;
            }
